header {
    background-color: lightslategray;
    margin: 0 auto;
    

    width: 940px; 
    height: 34px;
}

h1 {
    _background-color: rgb(71, 81, 90);
    margin: 0 auto;
    color: darkorange;
    float: left;

}

body {
    background-color: burlywood;
}

.nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;

}

